<h1>Listing memos</h1>

<div id="memos">
<% @memos.each do |memo| %>
  <%= render 'show', memo: memo %>
<% end %>
</div>

<br />

<h1>New memo</h1>
<%= render 'form', memo: @new_memo, submit_text: 'Create' %>
